.btn-main, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  background-color: #a51919;
  color: white;
  border: 2px solid #a51919;
}
.btn-main:hover, .btn-main-s:hover {
  color: #a51919;
  border: 2px solid #a51919;
  background-color: white;
}
.btn-main-s {
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #a51919;
  border: none;
}
.btn-sec-s {
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
}

.main-menu {
  margin: 0 auto;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  margin-right: 1rem;
}
.main-menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.562);
  color: #a51919;
  padding: 1.2rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(247, 247, 247, 0.9843137255);
}

.icon-big {
  background-color: rgba(0, 0, 0, 0.562);
  color: #a51919;
  padding: 2rem 3rem;
  font-size: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(247, 247, 247, 0.9843137255);
}
.icon-big:hover {
  cursor: pointer;
  background-color: white;
  color: #a51919;
}

.features .icon {
  color: #a51919;
  font-size: 12rem;
  text-align: center;
}
.features .description .title {
  font-size: 2rem;
  text-align: center;
}
.features .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.features .cta {
  color: #a51919;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}

html {
  min-width: 100vw;
}

body {
  width: 100%;
  padding: 0;
  background-image: url(../assets/img/bg-cesar-fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #cccccc;
  z-index: 999;
}
.nav li {
  padding: 0.5rem;
}

.logo img {
  max-width: 13rem;
}

.sec-home, .sec-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem;
  margin: auto;
  max-width: 992px;
}
.sec-home .home-cta, .sec-about-me .home-cta {
  margin: 0 auto;
  flex: 1;
}
.sec-home .home-cta .cta-text, .sec-about-me .home-cta .cta-text {
  color: rgb(211, 80, 80);
  font-weight: 400;
  font-size: 1rem;
}
.sec-home .home-cta .home-title, .sec-about-me .home-cta .home-title {
  width: 20rem;
  color: white;
  font-size: 3rem;
}
.sec-home .home-cta .home-description, .sec-about-me .home-cta .home-description {
  color: white;
  width: rem;
  font-weight: 300;
}
.sec-home img, .sec-about-me img {
  margin-left: 4rem;
  width: 15rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 0px rgb(156, 151, 156);
}

.sec-features {
  width: 100%;
  padding: 5rem;
  margin: auto;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(102, 102, 102, 0.4862745098);
}
.sec-features .intro {
  text-align: center;
}
.sec-features .intro h3 {
  font-size: 1.8rem;
  color: white;
}
.sec-features .intro p {
  font-size: 0.8rem;
  color: #ffffff;
}
.sec-features .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-features .features .text {
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}
.sec-features .features .text .feature .description {
  margin-left: 1rem;
  max-width: 40rem;
}
.sec-features .features .text .feature .description .description-title {
  font-size: 1rem;
  color: white;
}
.sec-features .features .text .feature .description .description-text {
  font-size: 0.75rem;
  color: white;
}
.sec-features .features .image img {
  max-width: 20rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px rgb(156, 151, 156);
}

.sec-about-me {
  border-top: 1px solid #ddd;
  max-width: 100vw;
  color: white;
}
.sec-about-me .about-cta {
  display: flex;
  width: 30rem;
  flex-direction: column;
  align-items: flex-start;
}
.sec-about-me span {
  font-size: 30px;
}
.sec-about-me img {
  width: 25rem;
  border: none;
  box-shadow: none;
}

.sec-skills {
  border-top: 1px solid rgba(102, 102, 102, 0.4862745098);
  color: white;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5rem;
  margin: auto;
  max-width: 992px;
}
.sec-skills h2 {
  margin-bottom: 2rem;
  color: white;
  text-align: center;
}
.sec-skills .home-skills {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-content: space-around;
}
.sec-skills .home-skills .carta-1, .sec-skills .home-skills .carta-2, .sec-skills .home-skills .carta-3, .sec-skills .home-skills .carta-4 {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px rgb(156, 151, 156);
}

.sec-footer-cta {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.4862745098);
  background-color: transparent;
  padding: 14rem;
  background-image: url(../assets/img/manos-footer-transformed.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
.sec-footer-cta h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 5rem;
  color: #dd1f32;
  width: 40rem;
}
.sec-footer-cta .footer-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.sec-footer-cta .footer-cta a {
  color: #a51919;
}

@media only screen and (max-width: 420px) {
  .sec-about-me span {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-skills {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .sec-footer-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-footer-cta .title-footer {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }
  .sec-footer-cta .footer-cta {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  html {
    max-width: 390px;
    max-height: 844px;
  }
}

/*# sourceMappingURL=styles.css.map */
